{% include "core/base.html" %} 
<style>

</style>
{% block body %}


<h2>
<p class="text-center text-light bg-danger my-1 py-1">Ask Me Bot - Blog About Page</p>
</h2>

<br/>

<div class="container col-xxl-8 px-3 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/static/botimg.png"
        class="d-block mx-lg-auto img-fluid"
        alt="bot image"
        width="700"
        height="500"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Ask Me Bot is Here to Answer Your Query !
      </h1>
      <p class="lead"><b>
        Ask Me Bot is a AI bot which recognition your Query and analyse it.
        And after analyse your Query the best Outcome for the Query Showes your as the form of Result.
        You may ask any Query related to General Knowledge , Programming , Current Affairs , and any
        Pratical Question come to you.
        Ask Me Bot is like Your Friend who may help your in solving all your Queries. 
      </b>
      </p>
      <a href="\contact/" class="btn btn-outline-dark">Know More</a>
    </div>
  </div>
</div>



<div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <img
        src="/static/chatgpt.png"
        class="d-block mx-lg-auto img-fluid"
        alt="chat gpt logo image"
        width="700"
        height="500"
      />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
            <h1 class="display-5 fw-bold lh-1 mb-3">Sources are from ChatGPT</h1>
            <p class="lead"><b>
                Ask Me Bot is interconnected with ChatGPT.
                This website is Programmed for Educational Purpose!
                So the request is not to make a Copy Right issue.
                The Sources are directly coming from ChatGPT.
                The Python Library which is used in Backend is OpenAI.
                OpenAI is an American artificial intelligence (AI) Research Laboratory.
                ChatGPT is developed by OpenAI.               
            </b>
            </p>
            <a href="https://en.wikipedia.org/wiki/ChatGPT" class="btn btn-outline-dark">Know More</a>
          </div>
      </div>
  </div>






  
{% endblock body %}
